.alg{
    width: fit-content;
    margin: auto;
}
.profile{
    font-size: x-large;
}
p{
    margin-bottom: 0px ;
}


.deleteAcc{
    
    border-radius: 8%;
    background-color: #ff0000;
    width: fit-content !important;
}